.aboutText{
    margin: 0;
}
.aboutSec{
    display: inline-block;
    width: 50%;
}
#greet{
}
#Personal{
}
#Technical{
    float: right;
    width: 50%;
}
#cert{
    float: left;
    width: 35vw;
    vertical-align: middle;
}
#techDiv{
    margin: 100px;
    display: inline-block;
}
.Info{
    width: 60%;
    display: inline-block;
    margin-bottom: 5vh;
}